.courses {
  margin-block: var(--size-200);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--size-200);
  padding-inline: var(--size-200);
}

.toggle-course-form-btn {
  background-color: var(--secondary);
  color: var(--on-secondary);
  border: none;
  padding: var(--size-100) var(--size-200);
}
